<html>
  <style>
    table, th, td { border: 1px solid black; border-collapse: collapse; } h2{
    text-align: center; }
  </style>
  <body>

    <h2>Medical Delivery Report</h2>

    <table style='width:100%'>
      <tr>
        <th>Date</th>
        <th>PP</th>
        <th>Customer Name</th>
        <th>sex</th>
        <th>Agency</th>
        <th>Country</th>
        <th>Ref Our</th>
        <th>Issued by</th>
      </tr>

      {{#each reportData}}
        <tr>
          <td>{{this.date}}</td>
          <td>{{this.passport}}</td>
          <td>{{this.name}}</td>
          <td>{{this.sex}}</td>
          <td>{{this.agency}}</td>
          <td>{{this.country}}</td>
          <td>{{this.ref}}</td>
          <td>{{this.issuedBy}}</td>
        </tr>
      {{/each}}
    </table>

  </body>
</html>